apiVersion: apps/v1
kind: Deployment
metadata:
  name: gate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gate
  template:
    metadata:
      labels:
        app: gate
    spec:
      containers:
        - name: gate
          image: gate-service:ci
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: gate-secrets
            # - configMapRef:
            #     name: gate-config
          ports:
            - containerPort: 3000
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
