apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: users-service:ci
          imagePullPolicy: IfNotPresent
          env:
            - name: PG_URL
              valueFrom:
                secretKeyRef:
                  name: users
                  key: PG_URL
            - name: PORT
              valueFrom:
                secretKeyRef:
                  name: users
                  key: PORT
            - name: NODE_ENV
              valueFrom:
                secretKeyRef:
                  name: users
                  key: NODE_ENV
          ports:
            - containerPort: 3001
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
