name: Deploy to Dev

on:
  pull_request:
    branches:
      - dev
  push:
    branches:
      - dev

jobs:
  checks:
    uses: ./.github/workflows/tests-lint.yaml
    with:
      environment: dev
    secrets: inherit
