name: Lint and Tests

on:
  workflow_call:
    # inputs:
    #   environment:
    #     type: string
    #     required: true

jobs:
  lint-and-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependency
        run: yarn install --immutable --inline-builds

      - name: Run Lint
        run: yarn lint:check

      - name: Run users tests
        run: yarn test:users:e2e
